---
---

/* TOP Right IMAGE */
.top-right-img {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 9999;
  border: 2px solid #000507;
}
